.goals-card {
  padding: 16px;
  width: 800px;
  height: 350px;
  border-radius: 5px;
  background: #FFF;
}

.goals-card-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goals-card-subtitle {
  margin: 0;
  margin-bottom: 6px;
}


.goals-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.goals-card-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #111827;
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
