@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #e0fbe2; /* same as your #home background */
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#register {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.register-header {
    margin-bottom: 1.5rem;
}

.register-form h2 {
  margin-bottom: 0.25rem; /* reduce gap below heading */
}

.register-form p {
  margin-top: 0;          /* kill default top margin */
  margin-bottom: 1.5rem; /* keep spacing before inputs */   
}

.icon-box {
  width: 43px; /* match SVG width */
  height: 39px; /* match SVG height */
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #ACE1AF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center; /* centers SVG perfectly */
}

.heading-with-icon {
  display: flex;           /* horizontal layout */
  align-items: center;     /* vertically align icon and text */
  gap: 1rem;               /* space between icon and text */
  font-family: Roboto;
  font-size: 64px;
  line-height: normal;
  color: #000;
  font-weight: 500;
  margin : 0;
  font-size: 40px;
}

.register-form {
  max-width: 400px;
  height: 520px;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
  gap: 1rem;  
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;   /* center error text */
}

.auth-subtext {
  color: #0A5C10D1;
}

.auth-switch{
  color: #0A5C10D1;
}

.auth-switch a {
  color: #ACE1AF;
  font-weight: 500;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}