.primary{
width: 230px;
height: 69px;
border-radius: 40px;
background: #ACE1AF;
border: none;
cursor: pointer;
transition: background 0.2s ease-in-out;
color: #0A5C10;          /* text color */
font-family: 'Roboto', sans-serif; /* font */
font-size: 18px;         /* adjust as needed */
font-weight: 500;
}

.primary:hover {
  background: #8bcf96; /* slightly darker green */
}


.outline{
width: 230px;
height: 69px;
border-radius: 40px;
border: 3px solid #0A5C10;
background: #E0FBE2;
cursor: pointer;
transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
color: #0A5C10;          /* text color */
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 500;
}

.outline:hover {
  background: #8bcf96; /* slightly darker background */
  border-color: #08490a; /* slightly darker border */
}
